* {
    margin: 0;
    padding: 0;
}

.client-section {
    min-height: 100dvh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}

.box {
    color: #fff;
    border-radius: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 2rem;
    margin: 1rem 0;
    
    min-width: 45rem;
       
    background: rgba(39, 39, 39, 0.2);
    backdrop-filter: blur(10px);
}


.client-text h3 {
    padding: 1rem 0 0 0;
}

.client-text ul {
    padding-left: 2rem;
}

.client-btns {
    display: flex;
    gap: 2rem;
}

.help-button {
    color: #fff;
    border-radius: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin-top: 2rem;
    padding: 1rem;
    width:fit-content;
    font-size: 1rem;
       
    background: rgba(255, 255, 255, 0.158);
    backdrop-filter: blur(10px);
}

.help-button:hover {
    cursor: pointer;
    scale: 1.1;
    border: white 1px solid;
    font-size: 1.1rem;

}


