.experience-section {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    min-height: 100dvh;

    margin: 0 auto;

}

.grid {
    display: grid;
    grid-template-columns: 40% 20%;
    gap: 1rem 3rem;
    margin-bottom: 4rem;


    justify-content: center;
   
    
}

.grid h2 {
    font-size: 2rem;
    margin: 0;
}



.skills {
    color: #fff;
    border-radius: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 1rem;
    width:fit-content;
       
    background: rgba(39, 39, 39, 0.2);
    backdrop-filter: blur(10px);
}

.skills h2 {
    text-align: center;
}

.codecademy h2 {
    text-align: center;
}

.americorps h2 P{
    text-align: center;
}

.codecademy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    color: #fff;
    
    
    
    border-radius: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
   
       
    background: rgba(39, 39, 39, 0.2);
    backdrop-filter: blur(10px);
}

.americorps {
    display: flex;
    flex-direction: column;
    justify-content: center;


    width: fit-content;
    border-radius: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
   
    color: #fff;
       
    background: rgba(39, 39, 39, 0.2);
    backdrop-filter: blur(10px);
}

.americorps-imgs {
    text-align: center;
}

.cell {
    width: 100%;
    color: #fff;
    border-radius: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    
    padding: 1rem;
    background: rgba(39, 39, 39, 0.2);
    backdrop-filter: blur(10px);
}






/* Logo Images */

.codecademy-logo {
    align-self: start;
    width: 10rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.cityyear-logo {
    
    
    width: 5rem;
    padding-right: 1rem;
}

.nccc-logo {
    width: 5rem;
    padding-left: 1rem;
}

.mobile {
    display: none;
}


@media only screen and (max-width: 27rem) {
   .grid {
        grid-template-columns: 1fr;
        margin-top: 1rem;
        justify-items: center;
   }

   .cell {
        width: 80%;
   }

   .desktop {
        display: none;
   }

   .mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
   }

   .skills h2 {
   
        margin: 0;
   }
}